<%- include("header") -%>

<h1>This is an about page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident officia totam eum, minima, atque voluptate tempore laborum velit odio repudiandae adipisci dolores a earum cupiditate odit alias est eveniet itaque. Nostrum esse dicta ab officiis. Vitae maiores nemo voluptatibus accusamus qui exercitationem ut explicabo facere soluta reiciendis velit, aliquid quam veniam repellat quod sint labore quibusdam suscipit aspernatur eius aliquam dolore beatae. Amet facere ducimus, tenetur dolore possimus veniam a doloremque laboriosam velit mollitia nesciunt hic numquam deserunt unde praesentium animi qui harum eligendi doloribus suscipit vitae provident adipisci laudantium. Ipsam eum magnam unde ullam libero? Nobis iure non corporis.</p>

<%- include("footer") -%>